NEXT_PUBLIC_SUPABASE_URL=https://ensuoytvsyxzpquvgghy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVuc3VveXR2c3l4enBxdXZnZ2h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA3OTMyNzQsImV4cCI6MjA2NjM2OTI3NH0.YanJrP03EzeBjTwWPe28QqjR3kbQHhXG_U4k3PoDVSQ
OPENAI_API_KEY=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
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVuc3VveXR2c3l4enBxdXZnZ2h5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDc5MzI3NCwiZXhwIjoyMDY2MzY5Mjc0fQ.NJyKgafZ95nqm8OqiDT4mESzkYvOXIltv6zBFRMuSUk
AZURE_SPEECH_KEY=Sv01YYxIFAFt4xavHdjPMIq1E2U7uK4R0e54n9L8PPsc8HgqWDwEJQQJ99BGACHYHv6XJ3w3AAAAACOGd8s3
AZURE_SPEECH_REGION=eastus2